<!DOCTYPE html>
<html>
<head th:replace="home :: html_head" />
<body>
	<header th:replace="home :: header" />
	<!-- Todos los class son de bootstrap -->
	<div class="container">
		<h1 class="text-primary" th:text="${tituloH1}"></h1>
		<p th:text="'Total de usuarios: ' + ${cantidad}" />
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>nombre</th>
					<th>apellido</th>
					<th>email</th>
					<th>acción</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="usuario: ${usuarios}">
					<td th:text="${usuario.id}" />
					<td th:text="${usuario.nombre}" />
					<td th:text="${usuario.apellido}" />
					<td th:text="${usuario.email}" />
					<td>
						<a class="btn btn-primary btn-xs" th:href="@{/usuarios/borrar/} + ${usuario.id}">Borrar</a>
						<a class="btn btn-primary btn-xs" th:href="@{/usuarios/form/} + ${usuario.id}">Editar</a>
					</td>
				</tr>
			</tbody>
		</table>
		<nav th:replace="paginator-nav :: paginator" />
	</div>
</body>
</html>