<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Error 500</title>
	<!-- Hoja de estilos de bootstrap enlazada vía CDN-->
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
		crossorigin="anonymous">
	</head>
</head>
<body>
	<!-- Todos los class son de bootstrap -->
	<div class="container">
	    <h1 class="text-primary">Error 500</h1>
	    <ul class="list-group">
			<li class="list-group-item" th:text="'Error: ' + ${error}" />
			<li class="list-group-item" th:text="'Status: ' + ${status}" />
			<li class="list-group-item" th:text="'Timestamp: ' + ${timestamp}" />
		</ul>
	    <a class="link-opacity-50-hover" th:href="@{/home}">Volver a Inicio</a>
  	</div>
</body>
</html>