<!DOCTYPE html>
<html>
<head th:replace="home :: html_head" />
<body>
	<header th:replace="home :: header" />
	<!-- Todos los class son de bootstrap -->
	<div class="container">
		<h1 class="text-primary" th:text="${tituloH1}" />
		<form th:action="@{/libros/form}" th:object="${libro}" method="post">
			<input type="hidden" th:field="*{id}">
			<div class="form-group">
				<label>Titulo</label>
				<input class="form-control" type="text" th:field="*{titulo}" placeholder="Introduce titulo">
				<small class="form-text text-danger" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}" />
			</div>
			<div class="form-group">
				<label>Autor</label>
				<input class="form-control" type="text" th:field="*{autor}" placeholder="Introduce autor">
				<small class="form-text text-danger" th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}" />
			</div>
			<div class="form-group">
				<label>Cantidad</label>
				<input class="form-control" type="number" th:field="*{cantidad}">
				<small class="form-text text-danger" th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}" />
			</div>
			<input class="btn btn-primary" type="submit" value="Guardar">
		</form>
	</div>
</body>
</html>