<!DOCTYPE html>
<html>
<head th:replace="home :: html_head" />
<body>
	<header th:replace="home :: header" />
	<!-- Todos los class son de bootstrap -->
	<div class="container">
		<h1 class="text-primary" th:text="${tituloH1}" />
		<p th:text="'Total de libros: ' + ${cantidad}" />
		<a th:href="@{/libros/listado}">Inicio del listado</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>titulo</th>
					<th>autor</th>
					<th>cantidad</th>
					<th>acción</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="libro: ${libros}">
					<td th:text="${libro.id}" />
					<td th:text="${libro.titulo}" />
					<td >
						<a th:text="${libro.autor}" th:href="@{/libros/listado?autor=} + ${libro.autor}" />
					</td>
					<td th:text="${libro.cantidad}" />
					<td>
						<a class="btn btn-primary btn-xs" th:href="@{/libros/borrar/} + ${libro.id}">Borrar</a>
						<a class="btn btn-primary btn-xs" th:href="@{/libros/form/} + ${libro.id}">Editar</a>
					</td>
				</tr>
			</tbody>
		</table>
		<nav th:replace="paginator-nav :: paginator" />
	</div>
</body>
</html>